<% list = object.implementing_structs %>
<% if list.size > 0 %>
  <h3 class="inherited">Implemented By</h3>
  <p class="inherited"><%= list.sort_by {|o| o.name.to_s }.map {|m| linkify(m) }.join(", ") %></p>
<% end %>
