<% if @items.size > 0 %>
  <h2>
    <%= @name %> Summary
    <small><a href="#" class="summary_toggle">collapse</a></small>
  </h2>

  <ul class="summary">
    <% @items.each do |t| %>
      <%= yieldall :item => t %>
    <% end %>
  </ul>
<% end %>
