<div class="tags">
<p class="tag_title">Structure Fields:</p>
<dl class="fields">
<% @fields.sort_by {|m| m.tag(:gotags) && m.tag(:gotags).text =~ /required:"true"/ ? -1 : 1 }.each do |m| %>
  <dt><code>
    <strong><%= m.name %></strong> <%= signature_types m %> 
    <% if m.tag(:gotags) && m.tag(:gotags).text =~ /required:"true"/ %><span class="note title readonly">required</span><% end %>
  </code></dt>
  <dd><%= htmlify m.docstring %></dd>
<% end %>
<% if @fields.size == 0 %>
  <dt><em>(empty struct)</em></dt>
<% end %>
</dl>
</div>